package ${basePackage}${currentPackage};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * <br>
 *
 * @author ${author}
 * @since ${date}
 */
@SpringBootApplication
@MapperScan("${basePackage}.core.business.mapper")
public class App
{
    public static void main(String[] args)
    {
        SpringApplication.run(App.class, args);
    }

}
