server:
  tomcat:
    uri-encoding: utf-8
    max-http-header-size: 102400

  # 项目访问路径
  servlet:
    context-path: /


# 数据源
spring:
  profiles:
    active: dev
  # 处理404 异常，关闭资源映射，不让Mvc 自己跳转到 error 请求，直接抛出NoHandlerFoundException 异常，在全局异常捕获
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time: GMT+8
